
.customizable-text-setting {
	display: flex;
	flex-direction: column;
	border: none;
}

.customizable-text-setting .setting-item-info {
	width: 100%;
	margin-left: 16px;
}

.customizable-text-setting .setting-item-info .setting-item-description {
	margin-bottom: 16px;
}

.customizable-text-setting .setting-item-control {
	width: 100%;
	flex-direction: column;
}

.customizable-text-setting .setting-item-control textarea {
	width: 100%;
	height: 15em;
}
